.title {
  text-align: center;
}

#home {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  border-width: 5px;
  border-style:solid;
  width: 300px;
  margin:0 auto;
  margin-top: 10px;
  background: gold;
}

#home:hover {
  background-color: lightblue;
  color: white;
}

#signup {

border-style:solid;
border-radius:10px;
border-width:5px;
width:400px;
margin:0 auto;
margin-top:20px;
padding-left:70px;
padding-top:10px;
padding-bottom:10px;
}

.bg {
  background-image: url(/images/lh.jpg);
}

#submit1 {
  padding-left:90px;
}

#login {
  text-align:center;
  padding-top:20px;
}


#user{
  float:left;
}

.font:hover {
  color: gold;
  text-decoration: none;
}

.font{
  text-decoration: none;
  color:black;
  
}

#smiley {
  max-height: 100px;
  margin-top: 20px;
}

#smiley:hover {
  /*-ms-transform: rotate(+20deg);
  -webkit-transform: rotate(+20deg);
  -moz-transform: rotate(+20deg);
  -o-transform: rotate(+20deg);*/
  transform: rotate(+20deg);
}

#edit{
  margin-top: 20px;
  text-align: center;
}

#enter{
  text-align: right;
  
}


#newmoviesubmit{
  text-align: right;
}

#submitadd{
  text-align: center;
}

.poster1{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 300px;
}

#showmovie{
  text-align: center;
  margin-bottom: 50px;
}

#submitreview{
  text-align: center;
  margin-top:15px;
}



.review{
  text-align: center;
  color: brown;
}

#bold{
  color:blue;
}