<head>
<title><% @title="Signup"%></title>
</head>

<body class="bg">

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-7">

      <header>
        <h1 class="title">Sign Up Now</h1> 
      </header>

      <section id="signup">
        <form method="post" action="/signup">
         
        
          <div>
          <label for="first-name" class="field1">First Name:</label>
          <input type="text" class="field" name="first_name" placeholder="First Name">
          </div><br>

          <div>
          <label for="last-name" class="field1">Last Name:</label>
          <input type="text" class="field" name="last_name" placeholder="Last Name">
          </div><br>


          <div>
            <label for= "username" class="field1">Username:</label>
            <input type="text" class="field" name="username" placeholder="Username">
          </div><br>

          <div>
          <label for="Email" class="field1">Email:</label>
          <input type="email" class="field" name="email" placeholder="Email">
          </div><br>

          <div>
            <label for="password" class="field1">Password:</label>
            <input type="password" class="field" name="password" placeholder="Password">
          </div><br>

          <div>
            <label for="password-confirmation" class="field1">Confirm Password:</label>
            <input type="password" class="field" name="password_confirmation" placeholder="Password">
          </div><br>

          <div>
            <label id="gender1">Gender:</label>
            Male <input type="radio" value="male" name="gender" id="gender">
            Female <input type="radio" value="female" name="gender"  >
          </div><br>

          <div>
            <label id="country1">Country:</label>
            <select name="country" id="country">
              <option>Please Select</option>
              <option value="Canada">Canada</option>
              <option value="USA">USA</option>
              <option value="China">China</option>
              <option value="France">France</option>
              <option value="Germany">Germany</option>
            </select>
          </div>



          <div id="submit1">
          <button type="submit" class="btn btn-info">Submit</button>
          </div>

        </form>
        
      </section>


    </body>
      